.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.project-page {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #0275d8;
}

.side-nav-link {
    cursor: pointer;
}

.active-side-nav-link {
    background-color: #0275d8;
    font-weight: bold;
    color: #fff;
}

.active-side-nav-link:hover {
    color: #fff;
    font-size: large;
}

.well {
    border: 1px solid #0275d8;
    padding: 10px;
    border-radius: 5px;
}

#urdu_text_area
{
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
}
