{% extends "base.html" %}
{% block content %}
    <div class="col s6">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#ttsintro">Introduction</a></li>
        <li class="tab col s3"><a href="#demo">Demo</a></li>
        <li class="tab col s3"><a href="#source">Source Code</a></li>
      </ul>
    </div>
    <div id="ttsintro" class="col s12">
        {% include "tts/introduction.html" %}
    </div>
    <div id="demo" class="col s12">
        {% include "tts/demo.html" %}
    </div>
    <div id="source" class="col s12">
        {% include "tts/introduction.html" %}
    </div>
{% endblock %}